.top0 {
  top: 0px !important;
}
.shorts-container {
  .video-item {
    scroll-snap-type: y mandatory;
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: none;
      border-radius: 12px;
    }

  }
}
